@import '../base.css';

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    background: var(--primary-color) !important;
    padding: 20px !important;
    border-radius: 10px 10px 0 0 !important;
    color: #fff !important;
    /* width: 50% !important; */
}
.css-1aquho2-MuiTabs-indicator {
    background: var(--primary-color) !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root. {
    background: var(--secondary-color) !important;
    /* width: 50% !important; */

}
.css-1ujnqem-MuiTabs-root {
    width: 460px !important;
    margin: auto !important;
}

.tab-box {
    width: 50% !important;
    margin: auto !important;
}
.wrapper-grey {
   background: var(--grey-color: #F1F1F1) !important;
}
.css-1gsv261 {
    border: none !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    background: #F5B978 !important;
    color: #fff !important;
    border-radius: 10px 10px 0 0 !important;
    padding: 20px !important;
}