@import "@styles/base.css";

.navbarGrey {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #000;
    height: 72.18px;
    position: fixed !important;
    width: 100%;
}
.logo {
    font-weight: 600;
}
.circle-user {
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}