@import "@styles/base.css";

.navbarGrey {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #000;
    height: 72.18px;
    position: fixed !important;
    width: 100%;
}
.logo {
    font-weight: 600;
}