.wrapper {
    background-color: var(--grey-color);
    height: 100%;
    padding-top: 100px;
}
.info {
    margin-bottom: 15px;
}
.profile-icon {
    width: 65px;
    border-radius: 50%;
    height:65px;
    object-fit: cover;
    margin-right: 15px;
}
