@import "@styles/base.css";

.black-btn {
    border: 2px solid #000 !important; 
    border-radius: 50px !important; 
    padding: 0 20px !important;
}
.black-btn:focus {
    border: 2px solid var(--primary-color) !important; 
}
.opacity-low {
    opacity: 0.5;
}
.opacity-high {
    opacity: 1;
}
