.custom-select {
    color: #231f20 !important;
    border: 1px solid transparent !important;
    background-color: transparent !important;
    outline: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 22px !important;
    line-height: 26px !important;
    padding-left: 0 !important;
}

@media (min-width: 768px) {
    .category-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}