.modal-wrapper {
    overflow-y: auto;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #231f2099;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}