/* main colors */
:root {
    --primary-color:  #FA8200;
    --grey-color: #F1F1F1;
    --secondary-color: #F5B96D;
  }

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20px !important;
}
h2 {
    font-size: 1.8rem;
}

.icon-small {
    width: 25px;
}
.flex-row-center {
   display: flex;
   justify-content: center;
}
.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;

 }
.flex-column-align-start {
    display: flex;
    flex-direction: column;
}
.flex-row-center-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-end {
    justify-content: flex-end;
    display: flex;
}

.btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    background: none !important;
    border: none;
}
.btn-success:hover {
    background: none !important;
    border: none !important;
}
.btn-success {
    background: none !important;
    border: none !important;
}
.btn-success:focus {
    box-shadow: none !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
    left: -117px;
}
.text-decoration-none {
    text-decoration: none !important;
}
.modal-header {
    border-bottom: none !important;
}
.modal-footer {
    border-top: none !important;
    justify-content: space-between !important;
}
.btn-simple {
    border: none !important;
    background: none !important;
}
.btn-simple:focus {
    outline: none !important;
    box-shadow: none !important;
}
.MuiRadio-colorSecondary.Mui-checked {
    color: #FA8200 !important;
}
/* .MuiTabs-flexContainer {
    justify-content: center !important;
} */
.btn-prime{ 
    background-color: var(--primary-color) !important;
    border-radius: 50px !important;
}

.rh5v-DefaultPlayer_controls {
  background: none;
}
.rh5v-PlayPause_icon {
    display: none;
}
.rh5v-Overlay_inner {
    display: none;
}
.rh5v-DefaultPlayer_component, 
.rh5v-DefaultPlayer_video {
    border-radius : 10px;
}
.rh5v-DefaultPlayer_component {
    background: none;
}
.rh5v-Volume_button {
    position: absolute;
    top: 30px;
    left: -32px;
}
.rh5v-Volume_icon {
    padding: 0;
    fill: #000;
    width: 30px;
    height: 30px;
}
.rh5v-Volume_slider {
    display: none;
    position: absolute;
    left: 20px;
    top: 20px;
    height: 56px;
    background-color: #000;
    transform: rotate(90deg);
}

.rh5v-DefaultPlayer_component:hover .rh5v-DefaultPlayer_controls {
    opacity: 1;
}
.rh5v-DefaultPlayer_controls {
    opacity : 1;
}
.tab-register, 
.tab-login {
    width: 50%;
}
@media screen and (min-device-width: 1200px) {
    .rh5v-DefaultPlayer_video {
        height: 400px;
    }
}
.rh5v-PlayPause_button:hover {
    display: none;
}



/* //swiper */


.swiper {
    width: 100%;
    height: 100%;
  }
  
 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } 
  
 .swiper-slide {
      background : none;
  }
  .text-left {
      text-align: left;
  }

  .MuiOutlinedInput-root {
      border-radius: 50px !important;
  }
  .MuiOutlinedInput-input {
    padding: 8px 20px !important;
}
.MuiInputLabel-formControl {
    position: absolute;
    left: 0 !important;
    top: -42px !important;
}
.MuiOutlinedInput-notchedOutline {
    border: 1px solid #000 !important;
}
.MuiInputLabel-root {
    color: #000 !important;
}
.MuiFormControl-marginNormal {
    margin-top: 26px !important;
    margin-bottom: 10px !important;
}
.navbar-expand {
    z-index: 2 !important;
}
.dropdown-toggle::after {
    display: none !important;
}
.modal-backdrop {
    background: #000000ad !important;
}