@font-face {
    font-family: 'Segoe UI';
    font-weight: 200;
    src: local('Segoe UI'), url(@fonts/Segoe\ UI.ttf) format('opentype');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 600;
    src: local('Segoe UI Bold'), url(@fonts/Segoe\ UI\ Bold.ttf) format('opentype');
}


/* MuseoSansCyrl-100 - cyrl */

@font-face {
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 100;
    src: local(''), url('../src/fonts/MuseoSansCyrl-100.woff') format('woff'), /* Modern Browsers */
    url('../src/fonts/MuseoSansCyrl-100.ttf') format('truetype');
    /* Safari, Android, iOS */
}


/* MuseoSansCyrl-500 - cyrl */

@font-face {
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../src/fonts/MuseoSansCyrl-500.woff') format('woff'), /* Modern Browsers */
    url('../src/fonts/MuseoSansCyrl-500.ttf') format('truetype');
    /* Safari, Android, iOS */
}


/* MuseoSansCyrl-700 - cyrl */

@font-face {
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../src/fonts/MuseoSansCyrl-700.woff') format('woff'), /* Modern Browsers */
    url('../src/fonts/MuseoSansCyrl-700.ttf') format('truetype');
    /* Safari, Android, iOS */
}

body {
    font-family: 'Segoe UI';
}

body[data-theme='light'] {
    --body-bg: white;
    --color: black;
    --back-sidebar: white;
    --main-content-bg: #f1f1f1;;
  }
  
  body[data-theme='dark'] {
    --body-bg: black;
    --color: white;
    --back-sidebar: #231F20;
    --main-content-bg: #262122;
  }

 .bg-brown {
    background-color: var(--main-content-bg) !important; 
 }
  .page {
    background-color: var(--main-content-bg) !important; 
    color: var(--color) !important; 

  }

  .pro-sidebar > .pro-sidebar-inner {
    background-color: var(--back-sidebar) !important; 
  }
  .main-container {
      height: 100vh !important;
  }
  .accordion__button, 
  .page-heading, 
  .custom-select {
    color: var(--color) !important; 
  }
  .nav-item{
    color: var(--color) !important; 
  }
  .icon-mode {
      background:  var(--color) !important;
  }
  .padd-none {
      padding: 0 !important;
  }
  .padd-none-right {
    padding-right: 0 !important;
  }
  /* .row>* {
      padding: 0 !important;
  } */
  /* body {
    color: var(--color) !important; 
    background-color: var(--body-bg) !important; 
   
  } */
 