@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI"), url(@fonts/Segoe\ UI.ttf) format('opentype');
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: local("Segoe UI Bold"), url(@fonts/Segoe\ UI\ Bold.ttf) format('opentype');
}


  body {
    font-family:'Segoe UI';
  }